@media only screen and (max-width: 480px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr, 1fr, 1fr;
    }
    header, footer {
        grid-column: 1/2;
    }
    .hicks {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .fitts {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .contrast {
        grid-column: 1/2;
        grid-row: 3/4;
    }


}