@media only screen and (max-width: 480px) {
    body {
        grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr;
    }
    .hicks {
        grid-column: 1/4;
        grid-row: 2/3;
    }
    .fitts {
        grid-column: 1/4;
        grid-row: 3/4;
    }
    .contrast {
        grid-column: 1/4;
        grid-row: 4/5;
    }
    div {
        margin: 0;
    }

}