/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

    nav ul {
        display:contents;
        flex-flow: row;
    }
    nav li {
        display: inline-block;
    }
    nav {
        order: 1;
        text-align: center;
    }
    #buttons {
        justify-content: right;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .event {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .hero {
        grid-column: 2/3;
        grid-row: 1/3;
    }
    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .join {
        border: 1px solid brown;
        display: block;
        grid-column: 1/2;
        grid-row: 3/4;
    }
    #spotlight3 {
        display: block;
        border: solid brown 1px;
    }
    .news {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .spotlights {
        grid-column: 3/4;
        grid-row: 1/4;
    }
    #hamburgerBtn {display: none;}
    .thanksFooter {
        margin-top: 5%;
    }
}