/*35rem is also 560px when pasebont is 16px*/
@media only screen and (min-width: 40rem) {
    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    main div {
        margin: 5px;
    }
    .hero, .news, .spotlights, .join{
        grid-column: 1/3;
    }
    .hero {order: 1;}
    .news {order: 2;}
    .spotlights {
        display: grid;
        grid-template-columns: 1fr 1fr;
        order: 3;
    }
    .event {order: 4;}
    .weather {order: 5;}
    #spotlight1 {
        grid-column: 1/2;
        grid-row: 1/3;
    }
    #spotlight2 {
        grid-column: 2/3;
        grid-row: 1/3;
    }
    #spotlight1, #spotlight2 {
        width: auto;
        height: auto;
    }

    } /* end medium */