@import url('https://fonts.googleapis.com/css2?family=Ysabeau&display=swap');

/*---BODY---*/
body {
    font-family: Ysabeau, 'Times New Roman', Times, serif;;
}

/*---HEADER---*/
header {
    display: flex;
    background-color: #4f709c;
    color: #f5efe7;
    flex-wrap: wrap;
    /*padding-top: 2%;*/
}
.logo_div {
    border: 1px solid white;
}
#title {
    border: 1px solid orange;
}
/*.chamber {
    padding-right: 5%;
}
.chamber #title {
    margin: -60% 0 0 60%;
}
.chamber,  nav, .social {
    margin: 2% 0 0 0;
}*/
.logo {
    width: 100%

}
.social {
    border-radius: 50%;
    width: 80%;
}
#today {
    justify-items: center;
    align-items: center;
    margin: auto;
    border: solid black 1px;
}
nav ul {
    display: none;
    text-decoration: none;
}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

nav a:hover {
    background-color: blue;
}
nav button {
    background-color: #F2E3DB;
    border: none;
    border-radius: 10%;
    font-size: 2rem;
}
nav li {
    list-style: none;
}

/*---Main---*/
main {
    display: grid;    
}
.join, #spotlight3 {
    display: none;
}
main .hero img { width: 100%;}
.hero {
    background-color: lightblue;
}
.event {
    background-color: lightcoral;
}
.weather {
    background-color: lightgoldenrodyellow;
}
.news {
    background-color: lightsalmon;
}
.spotlights {
    background-color: yellow;
}
.index div {
    margin: 2% 2% 2%  2%;
    border: solid brown;
}

/*---FOOTER---*/
footer {
    display: flex;
    background-color: #4f709c;
    color: #f5efe7;
    align-content: center;
    justify-content: center;
    padding-top: 2%;
    flex-direction: column;
    align-items: center;
}
#footer-top {
    justify-content: center;
    align-items: center;
    margin: auto;
    justify-content: space-around;
}
/*---DISCOVER---*/
.discover {
    background-color: #F5EFE7;
    color: #213555;
}
.discoverImgs  img{
    width: 100%;
}
