@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Work+Sans:wght@300&display=swap");

#content {
    display: grid;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #e8a0bf;
    color: #fdf4f5;
}
#me {
    width: 200px;
    margin: 20px;
}
h1 {
    align-self: center;
    justify-self: center;
}
h2 {
    color: #e8a0bf;
}
h1, h2 {
    font-family: quicksand, 'Times New Roman', serif;
}
ul {
    font-family: 'work serif', Arial, sans-serif;
    color:#e8a0bf;
}
ul a {
    text-decoration: none;
    color: #A4BC92;
}
ul a:hover {
    background-color: #A4BC92;
    color: #DDFFBB;
}
footer {
    background-color: #e8a0bf;
    color: #fdf4f5;
    font-family: quicksand, 'Times New Roman', serif;
    display: flex;
    padding: 25px 50px;
    margin-top: 200px;
    justify-content: space-around;
    align-items: center;
}